/*-----------------------------------------------------*/
/*-------------------Pane options----------------------*/
/*-----------------------------------------------------*/
/*Pane*/

.pane-options {
	-fx-background-color: #2C3138;	
}

/* Buttons*/

.btnGlobe {
	-fx-background-image: url("globe40x40.png");
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}
.btnLayer {
	-fx-background-image:url("layers40x40.png");
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}
.btnDataBase {
	-fx-background-image:url("database30x40.png");
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}
.btnKinect {
	-fx-background-image:url("kinect40x40.png");
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}
.btnProfile {
	-fx-background-image:url("user40x40.png");
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}
.btnClose {
	-fx-background-image:url("close40x40.png");
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}
.btnStart {
	-fx-background-image:url("start40x40.png");
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

/* Buttons hover*/

.btnGlobe:hover {
	-fx-cursor: hand;
}
.btnLayer:hover {
	-fx-cursor: hand;
}
.btnDataBase:hover {
	-fx-cursor: hand;
}
.btnKinect:hover {
	-fx-cursor: hand;
}
.btnProfile:hover {
	-fx-cursor: hand;
}
.btnClose:hover {
	-fx-cursor: hand;
}
.btnStart:hover {
	-fx-cursor: hand;
}

/* Button pressed*/

.btnGlobe:pressed {
	-fx-background-image: url("globe40x40-selected.png");
	-fx-effect: dropshadow( three-pass-box , rgba(60.0,163.0,128.0) , 5.0, 0.0 , 0.0 , 1.0 );
}
.btnLayer:pressed  {
	-fx-background-image: url("layers40x40-selected.png");
	-fx-effect: dropshadow( three-pass-box , rgba(60.0,163.0,128.0) , 5.0, 0.0 , 0.0 , 1.0 );
}
.btnDataBase:pressed  {
	-fx-background-image: url("database30x40-selected.png");
	-fx-effect: dropshadow( three-pass-box , rgba(60.0,163.0,128.0) , 5.0, 0.0 , 0.0 , 1.0 );
}
.btnKinect:pressed  {
	-fx-background-image: url("kinect40x40-selected.png");
	-fx-effect: dropshadow( three-pass-box , rgba(60.0,163.0,128.0) , 5.0, 0.0 , 0.0 , 1.0 );
}
.btnProfile:pressed  {
	-fx-background-image: url("user40x40-selected.png");
	-fx-effect: dropshadow( three-pass-box , rgba(60.0,163.0,128.0) , 5.0, 0.0 , 0.0 , 1.0 );
}
.btnClose:pressed  {
	-fx-background-image:url("close40x40-selected.png");
	-fx-effect: dropshadow( three-pass-box , rgba(60.0,163.0,128.0) , 5.0, 0.0 , 0.0 , 1.0 );
}
.btnStart:pressed  {
	-fx-background-image:url("start40x40-selected.png");
 	-fx-effect: dropshadow( three-pass-box , rgba(60.0,163.0,128.0) , 5.0, 0.0 , 0.0 , 1.0 );
}

/*-----------------------------------------------------*/
/*-------------------Pane setup------------------------*/
/*-----------------------------------------------------*/

.pane-setup {
	-fx-background-color: #475259;	
}
.pane-options-title {
	-fx-text-fill: #969697;
	-fx-font-size: 16.0px;
}
.pane-options-subtitle {
	-fx-text-fill: #ffffff;
	-fx-font-size: 14.0px;
}
.pane-options-text {
	-fx-text-fill: #ffffff;
}
/* Button enable/disable kinect */
.toggleBtnKinect {
	-fx-text-fill: white;
	-fx-background-color: green;
}
.toggleBtnKinect:selected {
	-fx-text-fill: white;
	-fx-background-color: red;
}
.toggleBtnKinect:hover {
	-fx-cursor: hand;
}
/*Clear list of data*/
.btnClearTrash {
	-fx-background-image:url("trash16x16.png");
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}
.btnClearTrash:hover {
	-fx-cursor: hand;
}
.btnClearTrash:pressed {
	-fx-background-image:url("trash16x16-selected.png");
	-fx-effect: dropshadow( three-pass-box , rgba(60.0,163.0,128.0) , 5.0, 0.0 , 0.0 , 1.0 );
	
}